<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Typography Inspiration</title>
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
  <link href="/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<header>
  <div class="wrapper">

    <!--top left Logo-->
    <article class="one_third">
      <div class="logo">
      <a href = "/"><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcROXRzJq3PhhxFISXZ8BMJUE5VhLbaqc-Cis5lhBsM-mzjZ272a" alt="Logo" /></a>
      </div>
    </article>

    <!--top Quick Links-->
    <article class="one_third">
      <div class="quick_links">
        <span class="space_between_links"><a href = "http://www.webpage.com">Link</a></span>
        <span class="space_between_links"><a href = "http://www.webpage.com">Link</a></span>
        <span class="space_between_links"><a href = "http://www.webpage.com">Link</a></span>
        <span class="space_between_links"><a href = "http://www.webpage.com">Link</a></span>
      </div>
    </article>

    <!--top right Join/SignIn Buttons-->
      <% if session[:user_id] %>
        <% user = @users_table.find(session[:user_id])["username"] %>
        <!--if logged in-->

          <article class="one_third">
            <div class="join_signin_buttons">


              <select>
                <option value="" selected="selected"><%= user.capitalize %></option>
                <option value="/favorites">Favorites</option>
                <option value="/registration">Link</option>
                <option value="/settings">Settings</option>
              </select>

              <form action="/logout" method="post">
                <input class="strip_button" type="submit" value=" Logout">
              </form>

            </div>
          </article>


      <% else %>
      <!--else not logged in-->

          <article class="one_third">
            <div class="join_signin_buttons">

              <span class="space_between_links"><a href="/registration">Join</a></span>
              <span class="space_between_links"><a href="/signin">SignIn</a></span>

            </div>
          </article>

      <% end %> <!--end user session-->


    <!--Flash notices-->
    <article class="full_column">
      <div class="flash_block">
        <span class="error_flash"><%= flash[:error_flash] %></span>
        <span class="non_error_flash"><%= flash[:notice] %></span>
        <span class="error_flash"><%= flash[:please_signin] %></span>
      </div>
    </article>

  </div>
</header>


<div id="content">
  <div class="wrapper">

    <!--1/4-->
      <section class="clearfix">



        <%= yield %>



      </section>

  </div><!--end wrapper-->
</div><!--end content-->


<footer>
  <div class="wrapper">
    Footer Here
  </div><!--end wrapper-->
</footer>


</body>
</html>
